{% extends 'layout.html' %}

{% block title %}
    Login Page 
{% endblock %}

{% block content %}
<h1 class="display-2">Login</h1>
<form action="" class="myform" method="post">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" required class="form-control"> 
    </div>
    <br>
    <div class="form-group">
        <button type="submit" value="Login" class="btn btn-primary">Login</button>
        <p class="text-muted text-center mt-2">Note: Librarians can login using admin credentials without registration and then change the password.</p>
    </div>
</form>
{% endblock %}